%h1 New pitch

= render 'form'

= link_to 'Back', pitches_path

%a{:href=>'#boo', :onclick=>'javascript:startButtonClickHandler()'} Click Handler

%div#myPublisherDiv

%div#recorderContainer

%div#playerContainer

%div#archiveList
