%p#notice= notice

.row
  .span6.videocol
    .videoplayer
    .videodetails
      %p Pitch name
      %h1
        = @pitch.name
      %p Pitcher
      %h2
        = @pitch.pitcher

  .span6.commentscol
    .commentsummary
    .commentlist
      %ul.nav.nav-list
        %li.comment
          %label 646 464 2323
          %p This is the best talk ever
        %li.comment
          %label 646 464 1111
          %p This is awesome
