/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$navbarBackground: #fff;
$navbarBackgroundHighlight: #fff;
$navbarText: #05C;
$navbarLinkColor: #05C;
@import "bootstrap";
/* This is to account for fixed nav-bar */
//body { padding-top: 60px; }

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
  border-radius: 0 0 0 0;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
}

.nav-tabs, .nav-pills {
  text-transform: uppercase;
}

.navbar .nav > li > a {
  text-shadow: none;
}
