// Place all the styles related to the pitches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.videocol {}
.videoplayer { border:solid 1px #d3d3d3;width:320px;height:240px;margin:0px auto 10px auto }
.videodetails { text-align:center }
.videodetails p { font-size:20px;color:gray;margin-top:40px }
.commentscol {  }
.commentsummary { height:100px;font-size:20px;padding:10px 20px 10px 20px;line-height:32px; }
.commentsummary b { font-size:26px;color:black }
.commentlist {}
.commentlist li { border-top:solid 1px #d3d3d3;padding:20px 10px 20px 10px }
.actiondetails { width:200px;margin:10px auto 10px auto }